<div>
    <form method="get" asp-action="AddProduct">
        <label>название товара:</label><br />
        <input type="text" name="Name" /><br />
        <label>Описание товара:</label><br />
        <input type="text" name="Description" /><br />
        <label>Цена товара:</label><br />
        <input type="text" name="Price" /><br />

        <input type="submit" value="добавить товар" />
    </form>
</div>
